.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.product {
  width: 600px;
  height: 400px;
  margin-top: 50px;
  border: 3px solid #999;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.price {
  color: #f0a6a6;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.title {
  color: #aeb9af;
  font-size: 50px;
  text-align: center;
}

.discription {
  width: 100%;
  height: 50px;
  color: #7e837e;
  font-size: 37px;
  margin-top: 20px;
  text-align: center;
}

.rating {
  color: #f0a6a6;
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}

.currency {
  font-size: 30px;
  color: #f0a6a6;
  margin-left: 5px;
  text-align: center;
}

.button {
  height: 20px;
  border: none;
  font-size: 90%;
  font-weight: 700;
  color: #e6e6eb;
  margin-top: 20px;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
   cursor: pointer;
  transition: .2s ease-in-out;
}

.button:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.button:active {
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}
